In [152]:
import pandas as pd
import numpy as np

In [153]:
data = pd.read_csv('./combined_data/combined_full_data.csv')
data.head()

                                             Reviews  Ratings
0   Super sounds.Super Bass quality and sound adhurs        5
1            Nice and good product.Very nice product        5
2  This headphone is awesome. Bass is very excell...        5
3              Service is awesome.Service is awesome        5
4            quality.superb sound...üòçüòçlovely product        5

In [154]:
data.shape

(280332, 2)

In [155]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280332 entries, 0 to 280331
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Reviews  280148 non-null  object
 1   Ratings  280332 non-null  int64
dtypes: int64(1), object(1)
memory usage: 4.3+ MB

In [156]:
data['Ratings'].unique()

array([5, 4, 1, 2, 3], dtype=int64)

In [157]:
data['Ratings'].value_counts()

5    129705
4     61298
1     49773
3     24843
2     14713
Name: Ratings, dtype: int64

In [158]:
data.drop_duplicates(inplace=True)

In [159]:
data.shape

(190067, 2)

In [160]:
data['Ratings'].value_counts()

5    83244
4    40507
1    37385
3    17829
2    11102
Name: Ratings, dtype: int64

# Sampling to balance the data

### Downsampling to balance the data

In [161]:
size = len(np.where(data['Ratings']==2)[0])

In [162]:
rating_5_downsampled = np.random.choice(np.where(data['Ratings']==5)[0],size=size//2, replace = False)
rating_4_downsampled = np.random.choice(np.where(data['Ratings']==4)[0],size=size//2, replace = False)
rating_1_downsampled = np.random.choice(np.where(data['Ratings']==1)[0],size=size//2, replace = False)
rating_3_downsampled = np.random.choice(np.where(data['Ratings']==3)[0],size=size//2, replace = False)
rating_2_downsampled = np.random.choice(np.where(data['Ratings']==2)[0],size=size//2, replace = False)

In [163]:
downsampled_train_data_indexes = np.concatenate([rating_1_downsampled, rating_2_downsampled, rating_3_downsampled, rating_4_downsampled, rating_5_downsampled])
len(downsampled_train_data_indexes)

27755

In [164]:
train_data = data.iloc[downsampled_train_data_indexes].copy()
train_data

                                                  Reviews  Ratings
175458  it is worst in terms of the audio capture and ...        1
137404  Phone constantly hangs and full load of bloatw...        1
18835   Stopped working within 25 days ,the right side...        1
12864   The earphones were good for just two months.. ...        1
102207  We are facing problem with Mobile is getting s...        1
...                                                   ...      ...
99536                         Camera and battery is super        5
228720                      Accuracy ranging +/- 5 points        5
31009   Audio quality is good, fits nicely in ears, do...        5
107104              Handset had not been given in the box        5
64814                                        Nice service        5

[27755 rows x 2 columns]

In [165]:
remaining_data = data[~data.index.isin(downsampled_train_data_indexes)].copy()
remaining_data

                                                  Reviews  Ratings
0        Super sounds.Super Bass quality and sound adhurs        5
1                 Nice and good product.Very nice product        5
2       This headphone is awesome. Bass is very excell...        5
3                   Service is awesome.Service is awesome        5
4                 quality.superb sound...üòçüòçlovely product        5
...                                                   ...      ...
279308               Still haven't received alexa update.        3
279309                                  Quality not good.        2
279310  I am already an user if Amazfit Pace and loved...        5
279311  Alexa not working. For incoming sms, message b...        4
279312  Its good ,little changes and will give good ba...        4

[170074 rows x 2 columns]

In [166]:
validation_rating_5_downsampled = np.random.choice(np.where(remaining_data['Ratings']==5)[0],size=size//4, replace = False)
validation_rating_4_downsampled = np.random.choice(np.where(remaining_data['Ratings']==4)[0],size=size//4, replace = False)
validation_rating_1_downsampled = np.random.choice(np.where(remaining_data['Ratings']==1)[0],size=size//4, replace = False)
validation_rating_3_downsampled = np.random.choice(np.where(remaining_data['Ratings']==3)[0],size=size//4, replace = False)
validation_rating_2_downsampled = np.random.choice(np.where(remaining_data['Ratings']==2)[0],size=size//4, replace = False)

In [167]:
downsampled_val_data_indexes = np.concatenate([validation_rating_1_downsampled, validation_rating_2_downsampled, validation_rating_3_downsampled, validation_rating_4_downsampled, validation_rating_5_downsampled])
len(downsampled_val_data_indexes)

13875

In [168]:
val_data = remaining_data.iloc[downsampled_val_data_indexes].copy()
val_data['Ratings'].value_counts()

5    2775
4    2775
3    2775
2    2775
1    2775
Name: Ratings, dtype: int64

In [169]:
train_data.reset_index(inplace=True)
train_data.drop(['index'], axis=1, inplace=True)
train_data

                                                 Reviews  Ratings
0      it is worst in terms of the audio capture and ...        1
1      Phone constantly hangs and full load of bloatw...        1
2      Stopped working within 25 days ,the right side...        1
3      The earphones were good for just two months.. ...        1
4      We are facing problem with Mobile is getting s...        1
...                                                  ...      ...
27750                        Camera and battery is super        5
27751                      Accuracy ranging +/- 5 points        5
27752  Audio quality is good, fits nicely in ears, do...        5
27753              Handset had not been given in the box        5
27754                                       Nice service        5

[27755 rows x 2 columns]

In [170]:
val_data.reset_index(inplace=True)
val_data.drop(['index'], axis=1, inplace=True)
val_data

                                                 Reviews  Ratings
0      Got a broken damage product but shipping box i...        1
1      Waste of money spo2 and stess sensor is not wo...        1
2      The device is not at all capable to connect wi...        1
3      Router not working after 7 days return policy ...        1
4      I bought the watch on 11 April 2021. The last ...        1
...                                                  ...      ...
13870        Very good product.. Thanks.. Amazon and jbl        5
13871  More than 10 days of using phone.\n\nVery happ...        5
13872  I have bought a redmi 9 power recently. I am u...        5
13873  really now days less people know about dual ba...        5
13874  ‡¥™‡µä‡¥≥‡¥ø ‡¥∏‡¥æ‡¥ß‡¥®‡¥Ç. ‡¥ï‡µç‡¥Ø‡¥æ‡¥Æ‡¥± ‡¥Ö‡¥ü‡¥ø‡¥™‡µä‡¥≥‡¥ø. ‡¥¨‡¥æ‡¥±‡µç‡¥±‡¥±‡¥ø ‡¥Ö‡¥ü‡¥ø‡¥™‡µä‡¥≥‡¥ø, ‡¥é...        5

[13875 rows x 2 columns]

In [171]:
train_data.to_csv('./combined_data/combined_downsampled_balanced_train_data.csv', sep =',', index = False)
val_data.to_csv('./combined_data/combined_downsampled_balanced_val_data.csv', sep =',', index = False)

### OverSampling to balance the data

In [132]:
from google_trans_new import google_translator

import random
sr = random.SystemRandom()

language = ["es", "de", "fr", "ar", "te", "hi", "ja", "fa", "sq", "bg", "nl", "gu", "ig", "kk", "mt", "ps"]


def data_augmentation(message, language, aug_range=1):
    augmented_messages = []
    if hasattr(message, "decode"):
        message = message.decode("utf-8")

    for j in range(0,aug_range) :
        new_message = ""
        translator = google_translator()
        try:
            text = translator.translate(message,lang_tgt=sr.choice(language))   ## Converting to random langauge for meaningful variation
            text = translator.translate(text,lang_tgt="en")
        except:
            text = message
            pass
        augmented_messages.append(str(text))

    return augmented_messages

In [133]:
## Dictionary for intent count
## Intent is column name
ratings_count = data.Ratings.value_counts().to_dict()
ratings_count

{5: 83244, 4: 40507, 1: 37385, 3: 17829, 2: 11102}

In [134]:

## Get max intent count to match other minority classes through data augmentation
import operator
max_rating_count = max(ratings_count.items(), key=operator.itemgetter(1))[1]
max_rating_count

83244

In [14]:
## Loop to interate all messages
import numpy as np
import math
import tqdm
newdf = pd.DataFrame()

for rating, count in ratings_count.items() :
    count_diff = max_rating_count - count    ## Difference to fill
    multiplication_count = math.ceil((count_diff)/count)  ## Multiplying a minority classes for multiplication_count times
    if (multiplication_count) :
        old_reviews_df = pd.DataFrame()
        new_reviews_df = pd.DataFrame()
        for review in tqdm.tqdm(data[data["Ratings"] == rating]["Reviews"]) :
            ## Extracting existing minority class batch
            dummy1 = pd.DataFrame([review], columns=['Reviews'])
            dummy1["Ratings"] = rating
            old_reviews_df = old_reviews_df.append(dummy1)
            
            ## Creating new augmented batch from existing minority class
            new_reviews = data_augmentation(review, language, multiplication_count)
            dummy2 = pd.DataFrame(new_reviews, columns=['Reviews'])
            dummy2["Ratings"] = rating
            new_reviews_df = new_reviews_df.append(dummy2)
        
        ## Select random data points from augmented data
        new_reviews_df=new_reviews_df.take(np.random.permutation(len(new_reviews_df))[:count_diff])
        
        ## Merge existing and augmented data points
        newdf = newdf.append([old_reviews_df,new_reviews_df])
    else :
        newdf = newdf.append(data[data["Ratings"] == rating])

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 40507/40507 [14:24:41<00:00,  1.28s/it]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 37385/37385 [12:57:46<00:00,  1.25s/it]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 17829/17829 [12:15:15<00:00,  2.47s/it]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 11102/11102 [4:01:41<00:00,  1.31s/it]

In [15]:
newdf.to_csv('./combined_data/combined_balanced_data.csv', sep =',', index = False)

### References

https://github.com/lushan88a/google_trans_new
https://github.com/kothiyayogesh/medium-article-code/blob/master/How%20I%20dealt%20with%20Imbalanced%20text%20dataset/data_augmentation_using_language_translation.ipynb

In [16]:
newdf.shape

(416220, 2)

In [19]:
newdf['Ratings'].value_counts()

5    83244
4    83244
3    83244
2    83244
1    83244
Name: Ratings, dtype: int64

In [20]:
newdf

                                              Reviews  Ratings
0    Super sounds.Super Bass quality and sound adhurs        5
1             Nice and good product.Very nice product        5
2   This headphone is awesome. Bass is very excell...        5
3               Service is awesome.Service is awesome        5
4             quality.superb sound...üòçüòçlovely product        5
..                                                ...      ...
3   They were alright to begin with, decent sound ...        2
6   Resmi Note 9 : 4gb ram is warking like 3gb ram...        2
0   Good, but sometimes it disconnects and reconne...        2
0            Nice products but colling ficher missing        2
5   boAt BassHeads 100 in-Ear Wired Earphones with...        2

[416220 rows x 2 columns]

## Data Preprocessing